body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: none;
  -webkit-box-shadow: rgb(203, 206, 209) -8px 8px 8px inset,
    rgb(255, 255, 255) -8px -8px 8px inset !important;
}

/*modal*/
.ant-modal-confirm-btns .ant-btn-primary {
  background-color: red;
  color: #ffffff;
}

.ant-modal-root .ant-modal-content {
  padding: 0 !important;
}
.ant-modal-root .ant-modal .ant-modal-close {
  top: 12px !important;
}

.ant-modal-root .ant-modal .ant-modal-header {
  padding: 12px 24px;
  margin-bottom: 0;
  border-bottom: 2px solid #d9d9d9;
}
.ant-modal-root .ant-modal .ant-modal-body {
  padding: 20px 24px;
}
/*modal*/

/*table*/

.table-column-left {
  text-align: left !important;
}

.table-column-right {
  text-align: right !important;
}

.table-column-center,
table thead tr .ant-table-column-title,
table thead th .ant-table-column-title,
table thead .ant-table-cell {
  text-align: center !important;
}

.ant-table-content table tbody .ant-table-cell .ant-form-item {
  margin-bottom: 0;
}
/*end table*/

::-webkit-scrollbar {
  height: 10px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
